/* space-grotesk-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/space-grotesk-v15-latin-300.woff2') format('woff2');
}

/* space-grotesk-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/space-grotesk-v15-latin-regular.woff2') format('woff2');
}

/* space-grotesk-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/space-grotesk-v15-latin-500.woff2') format('woff2');
}

/* space-grotesk-600 - latin (fallback to 500) */
@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/space-grotesk-v15-latin-500.woff2') format('woff2');
}

/* space-grotesk-700 - latin (fallback to 500) */
@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/space-grotesk-v15-latin-500.woff2') format('woff2');
}

/* inter-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/inter-v13-latin-300.woff2') format('woff2');
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-v13-latin-regular.woff2') format('woff2');
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/inter-v13-latin-500.woff2') format('woff2');
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/inter-v13-latin-600.woff2') format('woff2');
}